/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
*= require_self
 */
 @import "materialize";
 @import "materialize/components/color";
 @import "materialize/extras/nouislider";




 html{
   box-sizing: border-box;
 }
 h1{
   color: white;
   text-align: center;
   text-decoration: underline;
 }
 h5{
   color: white;
   text-decoration: underline;
   line-height: 50%;
 }
 nav {
   background-color: black;
   box-shadow: none;
 }
 body {
   font-family: 'pokemon-font', monospace;
   background-image: url("https://pre00.deviantart.net/7b00/th/pre/f/2012/279/9/f/legendary_pokemon_youtube_background_by_pheonixmaster1-d4mmnwq.jpg");
   background-size: 1440px;

 }
 .flashmessage {
  border-style: solid;
  border-color: black;
  background-color: rgba(255, 0, 0, 0.2);
  font-size: 120%;
  text-align: center;
  margin-top: 2%;
  padding: 2%
}

label {
    font-size: 1.0rem;
    color: black;
}
.btn:hover, .btn-large:hover {
  background-color: #fbfbfb;
}
.modal-footer {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlc-syUOs3UyL4IcmkqsDcSZd3wx3MN1ESTi_y4VGEXmV0qhrN");
  background-position: center;
}
#sign-in-button{
  color: white;
}
#sign-in-modal{
  background-color:white;
  background-image: url("http://www.allwhitebackground.com/images/2/2283.jpg");
  background-size: cover;


}
#sign-up{
  background-color:orange;
  background-image: url("http://www.powerpointhintergrund.com/uploads/2017/07/bit-wallpaper-8-bit-pokemon-awesome-wallpaperpicture-for-desktop-19.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 75%;
  background-position:center;
}
.poke-footprints {
  width: 80px;
  position: relative;
  left: 285px;
  bottom: 480px;
  right: 200px;
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0px;
    left: -35px;
    z-index: 1;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    background-color: white;
    opacity: 0.9;
    right: auto;
}
.row{
  background-color: white;
  opacity: 0.9
}

.btn, .btn-large {
    text-decoration: none;
    color: black;
    background-color: #111312;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
    background-repeat: no-repeat;
    background-position: -84px;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    opacity: 0.8;
}
.btn, .btn-large, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    height: 218px;
    width: 37%;
    color: white;
    left: 187px;
}


.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat {
    margin: 30px 120px;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: -10px;
    left: -35px;
    z-index: 1;
}
.modal {
  width: 50% !important ;
  height: 75% !important ;
  overflow-y: hidden !important ;
  background-image: url("https://img00.deviantart.net/809a/i/2013/038/8/d/pokedex_base_blank_by_riastrifechan-d5u70xb.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-color: red;
  padding-bottom: 0px !important;
}

.modal.modal-close {
  position: relative;
  left: 250px;
}
//Overall grid for pokemons
.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  height: 218px;
  width: 37%;
  left: 187px;

}
body.modal-open{
  overflow: hidden;
}

.modal-content {
  font-weight: bold;
}
.gif {
  position: relative;
  left: 5px;
  bottom: 300px;
  right: 200px;

}
.modal-action.modal-close.waves-effect.waves-red.btn-large{
  color: white;
}
.poke-gif{
  width: 300px;
}
.pokemon {
  width: 150px;
}

.id {
  font-size: 25px;
  position: relative;
  left: 325px;
  top: 28px;
}
.name {
  font-size: 25px;
  position: relative;
  left: 400px;
  top: -10px;
  bottom: 10px;
}
.species {
  top: -10px;
  font-size: 24px;
  left: 400px;
  position:relative;
}
.type {
  font-size: 14px;
  left: 390px;
  position:relative;
  top: 16px;
}
.weight {
    left: 475px;
    top: 70px;
    position: relative;
}
.height {
    left: 475px;
    top: 50px;
    position: relative;
}
.description {
    font-size: 20px;
    left: 80px;
    top: 130px;
    padding-bottom: 20px;
    padding-right: 162px;
    position: relative;
}
