// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle {
  background-color: white;
  height: 100px;
  width: 100px;
}
.img circle{
  position: static;
}
.prof-image {
  position: absolute;
  margin-top: 0vh;
  left: 16%;
  z-index: 1;
}
.prof-description {
  padding-top: 100px;
}
